# Control Structures Exercises

## 1.

### a.

In [ ]:
prompt = input('What is the day of the week today?:').lower()
if prompt == 'monday':
    print('It is Monday.')
else:
    print('It is not Monday.')

### b.

In [ ]:
prompt2 = input('What is the day today?:').lower()
if prompt2 == 'monday':
    print('It is a weekday.')
elif prompt2 == 'tuesday':
    print('It is a weekday')
elif prompt2 == 'wednesday':
    print('It is a weekday')
elif prompt2 == 'thursday':
    print('It is a weekday')
elif prompt2 == 'friday':
    print('It is a weekday')
else:
    print('It is the weekend! yay!.')

### c.

In [12]:
hours_worked_in_week = 40
hourly_rate = 25

if hours in range(41):
    hourly_rate == hourly_rate
else:
    hourly_rate *= 1.5

pay_for_week = hourly_rate * hours_worked_in_week
print(pay_for_week)

1000

In [19]:
hourly_rate = 25
hours_worked_per_week = 45

for hours in hours_worked_per_week:
    if hours <= 40:
        hourly_rate == hourly_rate
    if hours > 40:
        hourly_rate *= 1.5

pay_for_week = hourly_rate * hours_worked_per_week
print(f'${pay_for_week}')

TypeError: 'int' object is not iterable

## 2.

### a.

In [4]:
i = 5

while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

In [6]:
i = 0

while i <= 100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [7]:
i = 2

while i <= 1000000:
    print(i)
    i **= 2

2
4
16
256
65536

In [8]:
i = 100

while i > 0:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

### b.

In [11]:
input_number = int(input('Show times table for number:'))
for number in range(1,11):
    sum = input_number * number
    print(f'{input_number} x {number} = {sum}')

Show times table for number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90