## 1.

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a':[]})

dict

## 2.

* A term or phrase typed into a search box

Str

* Whether or not a user is logged in

Bool

* A discount amount to apply to a user's shopping cart

Int

* Whether or not a coupon code is valid

Bool

* An email address typed into a registration form

Str

* The price of the product

Float

* The email addresses collected from a registration form

List

* Information about applicants to Codedup's data science program

Dict

## 3.

a. Exp. Results: Error

In [10]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

b. Exp. Results: 0.5

In [11]:
6 % 4

2

c. Exp. Results: int

In [12]:
type(6%4)

int

d. Exp. Results: Function

In [14]:
type(type(6%4))

type

e. Exp. Results: Error

In [15]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

f. Exp. Result: False

In [16]:
0<0

False

g. Exp. Result: True

In [17]:
'False' == False

False

h. Exp. Result: False

In [19]:
True == 'True'

False

i. Exp. Result: True

In [20]:
5>=-5

True

j. Exp. Result: False

In [21]:
True or "42"

True

k. Exp. Result: 1

In [22]:
6 % 5

1

l. Exp. Result: False

In [23]:
5 < 4 and 1 == 1

False

m. Exp. Result: True

In [24]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

n. Exp. Result: False

In [25]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

o. Exp. Result: True

In [26]:
6 % 3 == 0

True

p. Exp. Result: True

In [27]:
5 % 2 != 0

True

q. Exp. Result: Error

In [28]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

r. Exp. Result: [1,2]

In [29]:
[1] + [2]

[1, 2]

s. Exp. Result: [1] [1]

In [30]:
[1] * 2

[1, 1]

t. Exp. Result: [2]

In [31]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

u. Exp. Result: True

In [32]:
[] + [] == []

True

v. Exp. Result: Error

In [34]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

## 5.

In [37]:
daily_rent_fee = 3.00
movie1 = 3 * daily_rent_fee
movie2 = 5 * daily_rent_fee
movie3 = 1 * daily_rent_fee
total = movie1 + movie2 + movie3
print(total)

27.0

## 6.

In [39]:
google_pay = 400 * 6
amazon_pay = 380 * 4
facebook_pay = 350 *10
week_payment = google_pay + amazon_pay + facebook_pay
print(week_payment)

7420

## 7.

In [43]:
if_class_not_full = True
if_class_schedule_does_conflict = False
can_enroll_in_class = if_class_not_full and not if_class_schedule_does_conflict
print(can_enroll_in_class)

True

## 8.

In [45]:
more_than_2_items_bought = True
if_offer_expired = False
#premium_membership = False
offer_applicable = more_than_2_items_bought and not if_offer_expired
print(offer_applicable)

True

## 9.

In [50]:
username = 'codeup'
password = 'notastrongpassword'
password_at_least_five_chars = True
# password_length = len(password) >= 5
username_more_than_twenty_chars = False
# username_length = len(username) <= 20
password != username

True